{% include "header.html" %}

  <top><div>To-Do-List</div></top>

  <main>
    <div class="to_do_list d-flex flex-column flex-shrink-0 p-3 text-black" style="width: 20%;">
<!--       <span class="fs-4 list_title">{{list_one['name']}}</span>-->
       <span class="fs-4 list_title"><input class="list_title" value="{{list_one['name']}}"></span>

      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        {% for item in list_one["contents"]: %}
        <li class="list_item nav-item" >
          <input class="list_input" contenteditable="true" maxlength="20" value="{{item}}">
          </input>


          <button type="button" onclick="" class="edit_btns btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>
          </button>

        <!--  delete-->
            <a href="{{url_for('delete_item',list_num=1,item_num=list_one['contents'].index(item))}}">
                <button type="button" class="edit_btns btn btn-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
        </button>
            </a>

        {% endfor %}
        </li>
        <a href="{{url_for('add_item',list_num=1)}}">
            <button type="button" class="btn btn-primary circle-draw">+</button>

        </a>

      </ul>
      <hr>
  </div>



    <div class="b-example-divider"></div>
    <div class="to_do_list d-flex flex-column flex-shrink-0 p-3 text-black" style="width: 20%;">
<!--       <span class="fs-4 list_title">{{list_one['name']}}</span>-->
       <span class="fs-4 list_title"><input class="list_title" value="{{list_two['name']}}"></span>

      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        {% for item in list_two["contents"]: %}
        <li class="list_item nav-item" >
          <input class="list_input" contenteditable="true" maxlength="20" value="{{item}}">
          </input>


          <button type="button" onclick="" class="edit_btns btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>
          </button>

        <!--  delete-->
            <a href="{{url_for('delete_item',list_num=1,item_num=list_two['contents'].index(item))}}">
                <button type="button" class="edit_btns btn btn-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
        </button>
            </a>

        {% endfor %}
        </li>
        <a href="{{url_for('add_item',list_num=1)}}">
            <button type="button" class="btn btn-primary circle-draw">+</button>

        </a>

      </ul>
      <hr>
  </div>
    <div class="b-example-divider"></div>

    <div class="to_do_list d-flex flex-column flex-shrink-0 p-3 text-black" style="width: 20%;">
<!--       <span class="fs-4 list_title">{{list_one['name']}}</span>-->
       <span class="fs-4 list_title"><input class="list_title" value="{{list_three['name']}}"></span>

      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        {% for item in list_three["contents"]: %}
        <li class="list_item nav-item" >
          <input class="list_input" contenteditable="true" maxlength="20" value="{{item}}">
          </input>


          <button type="button" onclick="" class="edit_btns btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>
          </button>

        <!--  delete-->
            <a href="{{url_for('delete_item',list_num=1,item_num=list_three['contents'].index(item))}}">
                <button type="button" class="edit_btns btn btn-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
        </button>
            </a>

        {% endfor %}
        </li>
        <a href="{{url_for('add_item',list_num=1)}}">
            <button type="button" class="btn btn-primary circle-draw">+</button>

        </a>

      </ul>
      <hr>
  </div>
    <div class="b-example-divider"></div>
    <div class="to_do_list d-flex flex-column flex-shrink-0 p-3 text-black" style="width: 20%;">
<!--       <span class="fs-4 list_title">{{list_one['name']}}</span>-->
       <span class="fs-4 list_title"><input class="list_title" value="{{list_four['name']}}"></span>

      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        {% for item in list_four["contents"]: %}
        <li class="list_item nav-item" >
          <input class="list_input" contenteditable="true" maxlength="20" value="{{item}}">
          </input>


          <button type="button" onclick="" class="edit_btns btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>
          </button>

        <!--  delete-->
            <a href="{{url_for('delete_item',list_num=1,item_num=list_four['contents'].index(item))}}">
                <button type="button" class="edit_btns btn btn-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg>
        </button>
            </a>

        {% endfor %}
        </li>
        <a href="{{url_for('add_item',list_num=1)}}">
            <button type="button" class="btn btn-primary circle-draw">+</button>

        </a>

      </ul>
      <hr>
  </div>
  </main>



{% include "footer.html" %}